<div class="row">
    <div class="col-md-6">
        <div>
          <div ng-controller="LeafletController">
            <leaflet center="center" markers="markers" layers="layers" width="100%" height="300" geojson="leafletGeojson"></leaflet>
            <div class="panel panel-default ng-hide" ng-show="loggedin">
              <div class="panel-heading">
                <div class="btn-group">
                  <a class="btn" ng-class="{'btn-default': !(poi && shop), 'btn-primary': poi}" ng-disabled="zoomLevel < 19" ng-click="togglePOILayer()">
                    <i class="fa fa-map-marker"></i>
                    <i class="fa fa-refresh fa-spin ng-hide" ng-show="loading.layer"></i>
                  </a>
                  <a class="btn" ng-class="{'btn-default': !building, 'btn-primary': building}" ng-disabled="zoomLevel < 19" ng-click="toggleBuildingLayer()">
                    <i class="fa fa-cube"></i>
                  </a>
                  <a class="btn" ng-class="{'btn-default': !ways, 'btn-primary': ways}" ng-disabled="zoomLevel < 19" ng-click="toggleWaysLayer()">
                    <i class="fa fa-road"></i>
                  </a>
                  <a class="btn" ng-class="{'btn-default': !markers.newNode, 'btn-primary': markers.newNode}" ng-disabled="zoomLevel < 19" ng-click="toggleNewNode()">
                    <i class="fa fa-crosshairs"></i>
                  </a>
                  <a class="btn btn-default" ng-class="{'btn-danger': errorLocalisation, 'btn-primary': localised, 'default': errorLocalisation !== undefiend && !localised}" ng-disabled="disabledLocation" ng-click="updateLocation()">
                    <i class="fa fa-location-arrow"></i>
                  </a>
                </div>
                <div class="alert alert-danger ng-hide" ng-show="errorLocalisation">{{errorLocalisation.message}}</div>
                <div class="alert alert-warning ng-hide" ng-show="zoomLevel <= 18"><i class="fa fa-warning text-warning"></i> Zoom must be >= 19 to enable tools</div>
              </div>
              <div class="panel-body ng-hide" ng-show="currentElement" ng-controller="SaveController">
                <div tags-table tags="currentElement.properties.tags"></div>
                <alert type="'danger'" class="ng-hide" ng-show="loading.updateTags.msg">
                  HTTP status : {{loading.updateTags.msg.status}}. Message : {{loading.updateTags.msg.data}}
                </alert>
                <button ng-disabled="!currentElement" class="form-control btn btn-primary" ng-click="updateTags(currentElement)">Update
                  <i class="fa fa-refresh fa-spin ng-hide" ng-show="loading.updateTags.loading"></i>
                  <i class="fa fa-times ng-hide" ng-show="loading.updateTags.ko"></i>
                  <i class="fa fa-check ng-hide" ng-show="loading.updateTags.ok"></i>
                </button>

              </div>
            </div>
            <div class="panel panel-default ng-hide" ng-show="markers.newNode">
              <div class="panel-body" ng-controller="SaveController">
                <div tags-table tags="markers.newNode.tags"></div>
                <button class="form-control btn btn-primary" ng-click="addNode()">Add
                </button>

              </div>
            </div>
          </div>
        </div>
    </div>

</div>