<div>
<div class="form-group">
    <input class="form-control" type="text" ng-model="tags.name" placeholder="name"/>
</div>
<div class="form-group" ng-repeat="(k,v) in tags">
  <label>{{k}}</label>
  <div class="input-group">
    <input class="form-control" ng-model="v"/>
    <div class="input-group-btn ng-hide" ng-show="loggedin">
      <button class="btn btn-danger" ng-click="removeTag(k)"><i class="fa fa-trash-o"></i></button>
    </div>
  </div>
  <div class="input-group ng-hide">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="existingTagValue in tagValues[k]">
        <div class="btn-group" style="width:100%">
            <button type="button" class="btn btn-default"style="width: 80%" ng-click="addTagValue(k, existingTagValue)">
              {{existingTagValue.value}}
              <span class="label label-default">{{existingTagValue.count}}</span>
            </button>
            <a class="btn btn-default" style="width: 20%" tooltip="{{existingTagValue.description}}" tooltip-trigger="click" ng-disabled="!existingTagValue.description">
              i
            </a>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="form-group ng-hide" ng-show="loggedin">
	<input class="form-control" type="text" placeholder="key" ng-model="newTagKey"/>
</div>
<div class="form-group">
	<input class="form-control" type="text" placeholder="value" ng-model="newTagValue"/>
</div>
<div class="form-group">
	<button class="btn btn-default form-control" ng-click="addTag()"><i class="fa fa-plus-square-o"></i></button>
</div>
</div>