<div>
<div class="form-group">
    <input class="form-control" type="text" ng-model="tags.name" placeholder="name"/>
</div>
<div class="form-group" ng-repeat="(k,v) in tags">
  <label>{{k}}</label>
  <div class="help-block ng-hide" ng-show="tagWikiPages[k]!==undefined">
    {{tagWikiPages[k].description}} <a target="_blank" ng-href="{{'http://wiki.openstreetmap.org/wiki/' +tagWikiPages[k].title}}">Plus d'info</a>
  </div>
  <div class="input-group">
    <div class="input-group-btn">
      <button class="btn btn-default" ng-click="toggleTagInfo(k)"><i class="fa fa-info"></i></button>
    </div>
    <input class="form-control" ng-model="v"/>
    <div class="input-group-btn ng-hide" ng-show="loggedin">
      <button class="btn btn-danger" ng-click="removeTag(k)"><i class="fa fa-trash-o"></i></button>
    </div>
  </div>
  <div class="ng-hide" ng-show="tagValues[k] !== undefined">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="existingTagValue in tagValues[k]">
        <div class="btn-group" style="width:100%">
            <button type="button" class="btn btn-default"style="width: 80%" ng-click="addTagValue(k, existingTagValue.value)">
              {{existingTagValue.value}}
              <span class="label label-default">{{existingTagValue.count}}</span>
            </button>
            <a class="btn btn-default ng-hide" style="width: 20%" tooltip="{{existingTagValue.description}}" tooltip-trigger="click" ng-show="existingTagValue.description">
              i
            </a>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="form-group ng-hide" ng-show="loggedin">
  <div class="input-group">
    <div class="input-group-btn">
      <button class="btn btn-default" ng-click="toggleKeysInfo()"><i class="fa fa-info"></i></button>
    </div>
  	<input class="form-control" type="text" placeholder="key" ng-model="newTagKey"/>
    <div class="input-group-btn">
      <button class="btn btn-default" ng-click="addTagValue()"><i class="fa fa-plus-square-o"></i></button>
    </div>
  </div>
  <div class="ng-hide" ng-show="keys !== undefined">
    <ul class="list-group" style="width:100%">
      <li class="list-group-item" ng-repeat="key in keys|filter:newTagKey">
        <div class="btn-group" style="width:100%">
            <button type="button" class="btn btn-default" ng-click="addTagValue(key.key)">
              {{key.key}}
              <span class="label label-default">{{key.count_all}}</span>
            </button>
            <a class="btn btn-default" style="width: 20%" target="_blank" ng-href="{{'http://wiki.openstreetmap.org/wiki/FR:Key:'+key.key}}" ng-disabled="!key.in_wiki">
              i
            </a>
        </div>
      </li>
    </ul>
  </div>
</div>
</div>