<div class="row">
    <div class="col-md-12">
        <div>
          <div ng-controller="LeafletController">
            <div class="panel panel-default">
              <div class="panel-heading">
                <a class="btn btn-default" ng-class="{'btn-danger': errorLocalisation, 'btn-primary': localised, 'default': errorLocalisation !== undefiend && !localised}" ng-disabled="disabledLocation" ng-click="updateLocation()">
                  <i class="fa fa-location-arrow"></i>
                </a>
                <div class="alert alert-danger ng-hide" ng-show="errorLocalisation">{{errorLocalisation.message}}</div>
              </div>
            </div>
            <leaflet center="center" markers="markers" layers="layers" width="100%" height="300"></leaflet>
            <accordion>
              <accordion-group heading="Add">
                <div class="panel panel-default ng-hide" ng-show="loggedin">
                  <div class="panel-heading">
                    <div class="btn-group">
                      <a class="btn" ng-class="{'btn-default': !markers.newNode, 'btn-primary': markers.newNode}" ng-disabled="zoomLevel < 18" ng-click="toggleNewNode()">
                        <i class="fa fa-crosshairs"></i>
                      </a>
                    </div>
                  </div>
                  <div class="panel panel-default ng-hide" ng-show="markers.newNode">
                    <div class="panel-body" ng-controller="SaveController">
                      <div tags-table tags="markers.newNode.tags"></div>
                      <alert type="'danger'" class="ng-hide" ng-show="loading.addNode.error">
                        HTTP status : {{loading.addNode.error.status}}. Message : {{loading.addNode.error.data}}
                      </alert>
                      <button class="form-control btn btn-primary" ng-click="addNode()">Add
                        <i class="fa fa-refresh fa-spin ng-hide" ng-show="loading.addNode.loading"></i>
                        <i class="fa fa-times ng-hide" ng-show="loading.addNode.ko"></i>
                        <i class="fa fa-check ng-hide" ng-show="loading.addNode.ok"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </accordion-group>
              <accordion-group heading="Edit">
                <div class="panel panel-default ng-hide" ng-show="loggedin">
                  <div class="panel-heading">
                    <div class="btn-group">
                      <a class="btn" ng-class="{'btn-default': !(poi && shop), 'btn-primary': poi}" ng-disabled="zoomLevel < 18" ng-click="togglePOILayer()">
                        <i class="fa fa-map-marker"></i>
                        <i class="fa fa-refresh fa-spin ng-hide" ng-show="loading.layer"></i>
                      </a>
                      <a class="btn" ng-class="{'btn-default': !building, 'btn-primary': building}" ng-disabled="zoomLevel < 18" ng-click="toggleBuildingLayer()">
                        <i class="fa fa-cube"></i>
                      </a>
                      <a class="btn" ng-class="{'btn-default': !ways, 'btn-primary': ways}" ng-disabled="zoomLevel < 18" ng-click="toggleWaysLayer()">
                        <i class="fa fa-road"></i>
                      </a>
                    </div>
                    <div class="alert alert-warning ng-hide" ng-show="zoomLevel < 18"><i class="fa fa-warning text-warning"></i> Zoom must be >= 18 to enable tools</div>
                  </div>
                  <div class="panel-body ng-hide" ng-show="currentElement" ng-controller="SaveController">
                    <div tags-table tags="currentElement.properties.tags"></div>
                    <alert type="'danger'" class="ng-hide" ng-show="loading.updateTags.error">
                      HTTP status : {{loading.updateTags.error.status}}. Message : {{loading.updateTags.error.data}}
                    </alert>
                    <button ng-disabled="!currentElement" class="form-control btn btn-primary" ng-click="updateTags(currentElement)">Update
                      <i class="fa fa-refresh fa-spin ng-hide" ng-show="loading.updateTags.loading"></i>
                      <i class="fa fa-times ng-hide" ng-show="loading.updateTags.ko"></i>
                      <i class="fa fa-check ng-hide" ng-show="loading.updateTags.ok"></i>
                    </button>
                  </div>
                </div>
              </accordion-group>
              <accordion-group heading="Delete">
                <div class="panel panel-default ng-hide" ng-show="loggedin">
                  <div class="panel-heading">
                    <div class="btn-group">
                      <a class="btn" ng-class="{'btn-default': !(poi && shop), 'btn-primary': poi}" ng-disabled="zoomLevel < 18" ng-click="togglePOILayer()">
                        <i class="fa fa-map-marker"></i>
                        <i class="fa fa-refresh fa-spin ng-hide" ng-show="loading.layer"></i>
                      </a>
                      <a class="btn" ng-class="{'btn-default': !building, 'btn-primary': building}" ng-disabled="zoomLevel < 18" ng-click="toggleBuildingLayer()">
                        <i class="fa fa-cube"></i>
                      </a>
                      <a class="btn" ng-class="{'btn-default': !ways, 'btn-primary': ways}" ng-disabled="zoomLevel < 18" ng-click="toggleWaysLayer()">
                        <i class="fa fa-road"></i>
                      </a>
                    </div>
                  </div>
                  <div class="panel-body" ng-controller="SaveController">
                    <div class="form-group">
                      <alert type="'danger'" class="ng-hide" ng-show="loading.delete.error">
                        HTTP status : {{loading.delete.error.status}}. Message : {{loading.delete.error.data}}
                      </alert>
                      <button ng-show="currentElement" class="ng-hide btn btn-default" ng-click="delete()"><i class="fa fa-trash-o"></i>
                      </button>
                      <button ng-show="deleteConfirmation" class="ng-hide btn btn-danger" ng-click="delete(currentElement)">Confirme you want to delete {{currentElement.properties.tags.name || currentElement.properties.id}}
                        <i class="fa fa-refresh fa-spin ng-hide" ng-show="loading.delete.loading"></i>
                        <i class="fa fa-times ng-hide" ng-show="loading.delete.ko"></i>
                        <i class="fa fa-check ng-hide" ng-show="loading.delete.ok"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </accordion-group>
              </accordion>
          </div>
        </div>
    </div>

</div>